basePath: /
definitions:
  domain.TokenPair:
    properties:
      access_token:
        type: string
      refresh_token:
        type: string
    type: object
  domain.User:
    properties:
      email:
        type: string
      id:
        type: integer
    type: object
info:
  contact: {}
  description: Authentication service with JWT access & refresh tokens
  title: Auth Service API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: Returns access and refresh tokens
      parameters:
      - description: User credentials
        in: body
        name: input
        required: true
        schema:
          properties:
            email:
              type: string
            password:
              type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.TokenPair'
        "401":
          description: Unauthorized
          schema:
            type: string
      summary: Login user
      tags:
      - auth
  /register:
    post:
      consumes:
      - application/json
      description: Creates user and stores hashed password
      parameters:
      - description: User credentials
        in: body
        name: input
        required: true
        schema:
          properties:
            email:
              type: string
            password:
              type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.User'
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Register new user
      tags:
      - auth
swagger: "2.0"
